/*body {*/
/*    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/index.jpg");*/
/*    background-position: center center;*/
/*    background-repeat: no-repeat;*/
/*    background-attachment: fixed;*/
/*    background-size: cover;*/
/*    background-color: #464646;*/
/*}*/

/*Index page background*/
.index {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/index.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
}

/*About page background*/
.about {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/about.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
}

/*Partner Add page background*/
.partner-add {
    /*background: #1c87c9;*/
    background: #464646;
}

/*Article Add page background*/
.article-add {
    background: #464646;
}

/*Picture Add page background*/
/*.picture-add {*/
/*    background: #5a7c8a;*/
/*}*/

/*Partner Add page background*/
.psychologist-add {
    background: #464646;
}

/*Register Add page background*/
.register {
    background: #5a7c8a;
}

/*Login Add page background*/
.login {
    background: #5a7c8a;
}

/*Partner Add page background*/
.profile-add {
    background: #464646;
}

/*User Approve page background*/
.user-approve {
    background: #5a7c8a;
}

/*Details profile page background*/
.profile-details {
    background: #5a7c8a;
}

/*Error 404 page background*/
.error-404 {
    background: #5a7c8a;
}

/*Error 500 page background*/
.error-500 {
    background: #5a7c8a;
}

/*Contacts page background*/
.psychologists-all {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/psychologists.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
}


/*Partners page background*/
.partners-all {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/partners.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
}

/*Articles page background*/
.articles-all {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/articles.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
}

/*Contacts page background*/
.contacts {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/contacts.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
}

/*Profiles page background*/
.profiles-all {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("/images/profiles.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
}

/* Navigation */
.navbar .logo {
    max-height: 70px;
    padding-right: 5px;
    padding-left: 5px;
}

.navigation nav div ul li a {
    /*text-decoration: none;*/
    /*color: whitesmoke;*/
    font-size: 20px;
    font-weight: bold;
}

/* Index */
.index main {
    padding-bottom: 520px;
}

/* Welcome */
.welcome {
    color: white;
    width: 60%;
    margin: 0 auto;
    padding: 220px 0 0 0;
}

h2 {
    text-align: center;
    font-family: "PT Sans", sans-serif;
    font-size: 32px;
    font-style: italic;
    letter-spacing: 2px;
}

.welcome p {
    text-align: center;
}

/*Unfortunately the button is fixed*/
/*.welcome .btn-outline-light {*/
/*    top:27%;*/
/*    left:55%;*/
/*    width:100px;*/
/*    height:40px;*/
/*    position: absolute;*/
/*    z-index: 2;*/
/*    background: transparent;*/
/*}*/

/* About Main */
.about main {
    padding-bottom: 392px;
}

/* About Us */
.about-us {
    color: white;
    font-size: 16px;
    width: 60%;
    margin: 0 auto;
    padding: 250px 0 0 0;
}

/* Partner Add */
.partner-add main {
    margin: 0 auto;
    /*padding: 202px 0 202px 0;*/
    padding: 238px 0 238px 0;
}

/* Partners All */
.partners-all main {
    margin: 10px 20px 0 200px;
    padding: 150px 0 264px 0;
}

/* Article Add */
.article-add main {
    margin: 0 auto;
    padding: 238px 0 238px 0;
}

/* Articles All */
.articles-all main {
    margin: 10px 20px 0 200px;
    padding: 150px 0 264px 0;
}

/* Profile Add */
.profile-add main {
    margin: 0 auto;
    padding: 180px 0 47px 0;
}

/* Profiles All */
.profiles-all main {
    padding: 80px 0 0 0;
}

/* Profile Details */
.profile-details main {
    padding: 120px 0 0 350px;
}

.profile-details footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

/* Error 404 */
.error-404 main {
    padding: 350px 0 0 0;
    text-align: center;
}

.error-404 footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

/* Error 500 */
.error-500 main {
    padding: 350px 0 0 0;
    text-align: center;
}

.error-500 footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

/* Register */
.register main {
    margin: 0 auto;
    padding: 120px 0 274px 0;
}

/* Login */
.login main {
    margin: 0 auto;
    padding: 120px 0 393px 0;

}/* User approve */
.user-approve main {
    margin: 0 auto;
    padding: 300px 0 405px 0;
}

/* Psychologist Add */
.psychologist-add main {
    margin: 0 auto;
    padding: 238px 0 80px 0;
}

/* PsychologistS All */
.psychologists-all main {
    margin: 10px 20px 0 200px;
    /*padding: 150px 0 239px 0;*/
    padding: 150px 0 616px 0;
}

.psychologists-all span {
    display: table;
}

.psychologists-all .info-name {
    font-size: 22px;
    font-weight: bold;
}

.psychologists-all .info-mail {
    font-size: 20px;
    font-weight: bold;
}

.psychologists-all .img-thumbnail {
    width: 223px;
    height: 226px;
}

/* Contacts Main */
.contacts main {
    margin: 0 auto;
    padding-bottom: 0;
}

/* Contacts All */
.contacts-all {
    color: white;
    font-size: 20px;
    margin: 0 auto;
    padding: 712px 0 0 40px;
}

/* Articles All */
.articles-all {
    color: white;
    font-size: 18px;
}

.articles-all main {
    padding-bottom: 20px;
}

.every-article img {
    width: 600px;
    height: 350px;

}

.every-article li {
    width: 600px;
    padding: 5px 5px 5px 5px;
    margin: 20px 20px 20px 80px;
    display: inline-block;
}


/* In-Progress */
.in-progress {
    background: #464646;
    color: #5a7c8a;
    font-size: 18px;
}

.ideas > h2 {
    width: 60%;
    text-align: center;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 30px;
}

.ideas > p {
    width: 60%;
    text-align: center;
    margin: 0 auto;
    padding-top: 5px;
    padding-bottom: 30px;
}

.ideas ul {
    margin: 20px 20px 34px 250px;
}

.ideas li {
    width: 400px;
    padding: 5px 5px 5px 5px;
    margin: 20px 20px 20px 20px;
    display: inline-block;
}

.ideas img {
    width: 400px;
    height: 250px;
}

.info div:nth-child(2) {
    font-size: 20px;
    font-weight: bold;
}


/* Footer */
footer {
    background: transparent;
    color: whitesmoke;
    font-size: 20px;
    font-weight: bold;
}

footer p {
    display: inline-block;
    width: 55%; /* can move all block left/right */
    text-align: right;
}

footer a {
    margin-left: 5px;
    margin-right: 5px;
}

.button-flash {
    background-color: #1c87c9;
    -webkit-border-radius: 60px;
    border-radius: 60px;
    border: none;
    color: #eeeeee;
    cursor: pointer;
    display: inline-block;
    font-family: sans-serif;
    font-size: 20px;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
}

@keyframes glowing {
    0% {
        background-color: #2ba805;
        box-shadow: 0 0 3px #2ba805;
    }
    50% {
        background-color: #49e819;
        box-shadow: 0 0 10px #49e819;
    }
    100% {
        background-color: #2ba805;
        box-shadow: 0 0 3px #2ba805;
    }
}

.button-flash {
    animation: glowing 1300ms infinite;
}