<!DOCTYPE html>
<html lang="bg"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/commons::head"></head>

<body class="about">

<header class="navigation" th:replace="fragments/commons::navigation"></header>

<main>
    <section class="about-us">
        <ul>
            <li>
                <p>Ние сме малък екип от педагози, които успешно практикуваме професията си от над 10 години. Харесваме
                    много работата с деца и решихме да опитаме да бъдем полезни за много други хора, които търсят или
                    предлагат детски грижи.</p>
                <p>След успешна регистрация като клиент, вие ще можете да разгледате всички одобрени профили на
                    педагози.</p>
                <p>След успешна регистрация като педагог, нашият екип ще се свърже с вас възможно най скоро, за да
                    назначим интервю. Само одобрените кандидати ще получат правото да създадат свой профил, чрез който
                    клиентите да могат да се свържат с вас.</p>
                <p>Благодарим за вниманието!</p>
            </li>
        </ul>
    </section>
</main>

<footer th:replace="fragments/commons::footer"></footer>

</body>
</html>