<!DOCTYPE html>
<html lang="bg"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/commons::head"></head>

<body class="article-details">

<header class="navigation" th:replace="fragments/commons::navigation"></header>

<main>

    <div id="currentArticle" class="card" style="width: 50rem;">

        <input type="hidden" name="articleId" id="articleId" th:value="*{id}">

        <div class="card-body">

        </div>

    </div>

    <script th:src="@{/js/articles.js}"></script>

</main>

<footer th:replace="fragments/commons::footer"></footer>

</body>
</html>