<!DOCTYPE html>
<html lang="bg"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/commons::head"></head>

<body class="contacts">

<header class="navigation" th:replace="fragments/commons::navigation"></header>

<main>
    <section class="contacts-all">
        <ul>
            <li>
                <p>Адрес: гр. София бул. Братя Бъкстон 2333</p>
                <p>Телефон: +359888888888</p>
                <p>Имейл: kids_care@example.com</p>
            </li>
        </ul>
    </section>

</main>

<footer th:replace="fragments/commons::footer"></footer>

</body>
</html>