<!DOCTYPE html>
<html lang="bg"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/commons::head"></head>

<body class="in-progress">

<header class="navigation" th:replace="fragments/commons::navigation"></header>

<main>
    <section class="ideas">
        <h2>Допълнителни услуги</h2>
        <p>Добре разбирайки трудностите, които изпитват нашите дългогодишни клиенти, решихме да
            разширим спектъра си от услуги. Представяме ви информация за услугите, които скоро ще можем
            да ви предложим на изцяло обновеният ни сайт.</p>
        <ul>
            <li>
                <img src="https://res.cloudinary.com/dbhvunrvo/image/upload/v1678913634/samples/animals/three-dogs.jpg"
                     alt="pic">
                <section class="info">
                    <div>
                        <h3>Професионално почистване</h3>
                        <p>Януари 2024</p>
                    </div>
                    <div>4лв/кв.м.</div>
                </section>
                <section class="more-info">
                    <p>Професионално почистване на домове и офиси, с пробен безплатен период ще започнем да предлагаме
                        в началото на 2024 година.</p>
                </section>
            </li>

            <li>
                <img src="https://res.cloudinary.com/dbhvunrvo/image/upload/v1678913650/cld-sample-4.jpg" alt="pic">
                <section class="info">
                    <div>
                        <h3>Кетъринг за вашето парти</h3>
                        <p>Очаквайте скоро</p>
                    </div>
                    <div>От 50лв</div>
                </section>
                <section class="more-info">
                    <p>Забравете за всички грижи и се насладете напълно на празничните си моменти, като се доверите
                        изцяло на нас за кетъринга. Опитни готвачи от...</p>
                </section>
            </li>

            <li>
                <img src="https://res.cloudinary.com/dbhvunrvo/image/upload/v1678913633/samples/people/boy-snow-hoodie.jpg"
                     alt="pic">
                <section class="info">
                    <div>
                        <h3>Детски парти център</h3>
                        <p>Очаквайте скоро</p>
                    </div>
                    <div>10лв/ч / Рожден ден от 300лв</div>
                </section>
                <section class="more-info">
                    <p>Нека направим за вас и вашето дете едно незабравимо празненство. Ще имате възможност за
                        избор на професионално заснемане на събитието.</p>
                </section>
            </li>
        </ul>
    </section>
</main>

<footer th:replace="fragments/commons::footer"></footer>

</body>
</html>