<!DOCTYPE html>
<html lang="bg"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/commons::head"></head>

<body class="index">

<header class="navigation" th:replace="fragments/commons::navigation"></header>

<main>

    <section class="welcome">
        <h2>Kids Care - професионална грижа за вашите деца</h2>
        <p>Здравейте, сайтът ни е предназначен за лесно свързване на хора, който търсят или предлагат грижи за деца.
            Всички клиенти, могат да бъдат сигурни, че публикуваниете обяви са от реални хора, които са одобрени и
            проверени от нашият екип,
            от педагози и психолози.</p>
        <!--        <p>Повече за нас вижте тук:</p>-->
        <!--        <a class="btn btn-outline-light" href="/" role="button">За нас</a>-->
    </section>

</main>

<footer th:replace="fragments/commons::footer"></footer>

</body>

</html>