<!DOCTYPE html>
<html lang="bg"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:fragment="head">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>KidsCare</title>
    <link rel="icon" type="image/x-icon" th:href="@{/images/favicon.ico}">
    <link rel="stylesheet" href="/css/reset-css.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/styles.css"/>
    <script src="/js/jquery-3.5.1.slim.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>

<body>

<header class="navigation" th:fragment="navigation">
    <nav class="navbar navbar-expand-lg bg-transparent navbar-dark fixed-top">
        <a class="navbar-brand" href="/"><img alt="home picture" src="/images/home.jpg" class="logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto col-12 justify-content-between">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/profiles/all}" sec:authorize="hasRole('NORMAL')">Профили</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/profiles/add}" sec:authorize="hasRole('TEACHER')">Добави профил</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/psychologists/all}">Психолози</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/articles/all}">Блог</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                       sec:authorize="hasRole('ADMIN')">Администратор</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" th:href="@{/partners/add}">Добави партньор</a>
                        <a class="dropdown-item" th:href="@{/psychologists/add}">Добави психолог</a>
                        <a class="dropdown-item" th:href="@{/articles/add}">Добави статия</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" th:href="@{/users/approve}">Одобри юзър</a>
                    </div>
                </li>

                <th:block sec:authorize="!isAuthenticated()">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/users/register}">Регистрация</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/users/login}">Вход</a>
                    </li>
                </th:block>

                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <form method="post" th:action="@{/users/logout}" class="form-inline my-2 my-lg-0 border px-3">
                        <button type="submit" name="submit" value="value" class="btn btn-link nav-link">Изход</button>
                    </form>
                </li>

            </ul>
        </div>
    </nav>
</header>

<footer class="footer" th:fragment="footer">
    <p> &copy; Kids Care 2023. All Rights Reserved.</p>
    <a class="btn btn-outline-light" th:href="@{/about}" role="button">За нас</a>
    <a class="btn btn-outline-light" th:href="@{/contacts}" role="button">Контакти</a>
    <a class="btn btn-outline-light" th:href="@{/partners/all}" role="button">Партньори</a>
    <a class="btn btn-outline-light" th:href="@{/}" role="button">Начало</a>
    <a class="button-flash" th:href="@{/in-progress}">Очаквайте скоро</a>
</footer>

</body>
</html>